@{
    ViewBag.Title = "Nasz sklep stacjonarny";
}
<h2>@ViewBag.Title.</h2>


<address>
    ADRES SKLEPU:<br />
    ul. Mickiewicza 75<br />
    15-213 Białystok<br />

    GODZINY OTWARCIA:<br />
    Wtorek-Piątek: 10:30-17:30<br />
    Sobota: 10:00-15:00<br />
    Telefon: 534 453 765
</address>