@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<br/>



<address>
    <strong> <p>W razie pytań pisz do nas na maila:</p><br /></strong>

    <a href="mineshop@mineskop.pl">mineshop@mineskop.pl</a><br /> 

    <strong> <p>W razie pojawienia się problemów poinformuj nas na maila:</p><br /></strong>
    <a href="pomoctechniczna@mineshop.pl">pomoctechniczna@mineshop.pl</a><br />

</address>