
@{
    ViewBag.Title = "Uprawnienia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nie masz uprawnień żeby wejść na tę stronę</h2>


<li>@Html.ActionLink("Strona główna", "Index", "Home")</li>

